<!DOCTYPE html>
<html>
  <head>
    <title>MidTermProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Season Stats", season_stats_path %>
    <%= link_to "All NBA Players", players_path %>
    <%= link_to "Personal Players", personals_path %>
    <%= yield %>
  </body>
</html>
